<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>JOBS PORTAL</title>
    <link rel="stylesheet" href="{% static '/css/jobs.css' %}">
  </head>
  <body>
      <div class="container">
        <div class="jumbotron">
        <h1>Welcome To Jobs</h1>
        <p>Contenious Job Updates FOr Every Hour ...</p>
        <a href="hydjobsinfo/"><button type="button" class="btn btn-primary">Hyderabad Jobs</a>&nbsp;&nbsp;&nbsp;</button>
        <a class="btn btn-primary btn-lg" href="#">Banglore Jobs</a>&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary btn-lg" href="#">Pune Jobs</a>&nbsp;&nbsp;&nbsp;
      </div>
      </div>
  </body>
</html>
